.qa/
__pycache__/
*.pyc
*.exe
*.zip
*.key
*.pem
*.pfx
*.crt
credentials*.xml*
current-tunnel.json
*.log
minio.pid
/data/
/logs/
/config/
/certs/
/client-certs/
/tmp/
/downloads/
/tunnel/
/bin/
/build/
/tools/go/
